<ion-header no-border>
  <ion-toolbar color='primary'>
      <ion-title>Master Detail Pattern Ionic 4 with Angular Routing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-list>
    <ion-item *ngFor="let item of itemService.items" detail="true" tappable routerLink="/detail/{{ item.id }}">
    <!--<ion-item *ngFor="let item of items">-->
      <ion-thumbnail slot="start">
        <img [src]="item.image" alt="">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <h3>{{ item.description }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none;"></iframe></div>
          <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>